/* 
    Created on : Mar 25, 2014, 9:24:00 PM
    Author     : vishwajeet
*/
#lower_login{
    height: 230px;
    
}
#form_button:hover{
    background: red;
}
#change{
    height: 350px;
    float: left;
    width: 450px;

}